
@{
    ViewBag.Title = "Andrii Pelekh | ThankYou";
}

<div class="body thankyou">
    <div class="center">
        <div class="left">

            <div class="half thankyou">
                <h2>Thank <span class="dark2">you!</span></h2>
            </div>

        </div>
    </div>
</div>

<div id="right">
    <div class="grey">
        <h2>site <span class="dark2">navigation</span></h2>
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Index", "About")">About</a></li>
            <li><a href="@Url.Action("Index", "Work")">Work</a></li>
            <li><a href="@Url.Action("ContactMe", "Home")" class="selected">Contact Me</a></li>
        </ul>
    </div>
</div>

