
@{
    ViewBag.Title = "Andrii Pelekh | Work";
}

<div class="body work">
    <div class="center">
        <div class="left">

            <div class="half">
                <h2>work <span class="dark2">samples</span></h2>
            </div>
            <div class="half">
                <div class="padder empty">

                </div>
            </div>
            <div class="workleft">
                <a href="~/Content/cipher.exe" download="cipher_APelekh">
                    <img class="cipher" src="~/Content/img/cipher.gif">
                </a>
            </div>
            <div class="workright">
                <a href="~/Content/cipher.exe" download="cipher_APelekh">
                    <p class="cheese">RailFence Cipher</p>
                </a>
            </div>
            <div class="workleft">
                <a href="~/Content/cheese.exe" download="cheese_APelekh">
                    <img class="cheese" src="~/Content/img/cheesefinder.gif">
                </a>
            </div>
            <div class="workright">
                <a href="~/Content/cheese.exe" download="cheese_APelekh">
                    <p class="cheese">Cheese Finder</p>
                </a>
            </div>
            <div class="workleft">
                <a href="~/Content/combat.exe" download="combat_APelekh">
                    <img class="combat" src="~/Content/img/combatsimulator.gif">
                </a>
            </div>
            <div class="workright">
                <a href="~/Content/combat.exe" download="combat_APelekh">
                    <p>Combat Simulator</p>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="right">
    <div class="grey">
        <h2>site <span class="dark2">navigation</span></h2>
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Index", "About")">About</a></li>
            <li><a href="@Url.Action("Index", "Work")" class="selected">Work</a></li>
            <li><a href="@Url.Action("ContactMe", "Home")">Contact Me</a></li>
        </ul>
    </div>
</div>
